[submodule "autopair"]
	path = autopair
	url = git://github.com/capitaomorte/autopair.git
[submodule "fill-column-indicator"]
      path = fill-column-indicator
      url = git://github.com/alpaker/Fill-Column-Indicator.git
[submodule "auto-complete"]
      path = auto-complete
      url = git://github.com/auto-complete/auto-complete.git
[submodule "ctable"]
      path = ctable
      url = https://github.com/kiwanami/emacs-ctable
[submodule "deferred"]
      path = deferred
      url = git://github.com/kiwanami/emacs-deferred.git
[submodule "epc"]
      path = epc
      url = git://github.com/kiwanami/emacs-epc.git
[submodule "jedi"]
      path = jedi
      url = git://github.com/tkf/emacs-jedi.git
